<div class="grid">
  <div id="logo" class="w-1/2 place-self-center mr-12 xl:ml-56 2xl:mr-12 my-12">
    <%= image_tag "Logo.png", alt: "alttext", width: 700 %>
  </div>
</div>

<div class="mt-24">
  <%= render "shared/drop-softs", name: "Softs" %>
</div>

<%= render "shared/drop-cafeterie", name: "Caféterie" %>
<%= render "shared/drop-apero", name: "Apéritifs" %>
<%= render "shared/drop-beers", name: "Bières" %>
<%= render "shared/drop-alcools", name: "Alcools" %>
<%= render "shared/drop-vins", name: "Vins" %>
<%= render "shared/drop-cocktails", name: "Cocktails" %>
<%= render "shared/drop-digeo", name: "Digestifs" %>


<h2 id="alcohol-abuse" class="text-center mx-auto mt-24 mb-12">
  Prix nets TTC en euros, service compris. <br>
  L’abus d’alcool est dangereux pour la santé, à consommer avec modération.
</h2>

<!-- <div class="w-1/2 mx-auto mb-24">

</div> -->

<!-- <div class="grid">
  <div class="w-1/2 mb-24 place-self-center xl:ml-32 2xl:mr-12 my-12">
    <%#= image_tag "One-life.gif", alt: "alttext", width: 500 %>
  </div>
</div> -->
